In [19]:

import pandas as pd
import os

In [20]:

# kaggle csv path
kaggle_data = "Resources/kaggle_clean.csv"

# Read the Top 10 AI data
kaggle_df = pd.read_csv(kaggle_data)

# Display head of data to preview\
kaggle_df.head()

  symbol        date    open   high     low   close    volume
0   NVDA  2014-06-02  4.7650  4.795  4.6950  4.7350  18150000
1   NVDA  2014-06-03  4.7450  4.750  4.6525  4.7150  24321200
2   NVDA  2014-06-04  4.7025  4.755  4.7000  4.7200  16123600
3   NVDA  2014-06-05  4.7275  4.755  4.7000  4.7400  18869600
4   NVDA  2014-06-06  4.7625  4.800  4.7450  4.7575  16105200

In [21]:
os.getcwd()

'c:\\Users\\drpon\\Group-Project-1\\UCB-Data-Proj1-G3\\AIStocksProject'

In [22]:
# API paths
DOW_data = "Resources/DOW.csv"
INDU_data = "Resources/INDU.csv"
SPY_data = "Resources/SPY.csv"

# Read the Top 10 AI data
dow_df = pd.read_csv(DOW_data)
indu_df = pd.read_csv(INDU_data)
spy_df = pd.read_csv(SPY_data)

# Display head of data to preview
dow_df.head()

   Unnamed: 0   open    high    low  close   volume symbol
0  2024-06-07  55.37  56.275  55.27  55.73  4143499    DOW
1  2024-06-06  55.62  56.000  55.43  55.68  3463521    DOW
2  2024-06-05  55.15  55.940  55.03  55.69  3945277    DOW
3  2024-06-04  55.57  55.720  55.10  55.15  4600589    DOW
4  2024-06-03  57.55  57.590  55.44  56.07  4696573    DOW

In [23]:
#Rename the date column 
dow_df = dow_df.rename(columns= {
                           'Unnamed: 0': 'date'
                        })
indu_df = indu_df.rename(columns={
                            'Unnamed: 0': 'date'
                        })
spy_df = spy_df.rename(columns={
                            'Unnamed: 0': 'date'
                        })
spy_df.head()

         date    open    high       low   close    volume symbol
0  2024-06-07  533.66  536.89  532.5350  534.01  43224525    SPY
1  2024-06-06  534.98  535.42  532.6800  534.66  30808530    SPY
2  2024-06-05  530.77  534.69  528.7254  534.67  47610365    SPY
3  2024-06-04  526.46  529.15  524.9600  528.39  34632661    SPY
4  2024-06-03  529.02  529.31  522.6000  527.80  46835702    SPY

In [24]:
# Define start date and end date of focus
start_date = "2014-06-01"
end_date = "2024-05-31"

In [25]:
# Limit the data to the timeframe we want
DOW_cleaned = dow_df[(dow_df['date'] >= start_date) & (dow_df['date'] <= end_date)]
INDU_cleaned = indu_df[(indu_df['date'] >= start_date) & (indu_df['date'] <= end_date)]
SPY_cleaned = spy_df[(indu_df['date'] >= start_date) & (spy_df['date'] <= end_date)]

In [26]:
#define path to Resources folder
resources_path = "Resources"

#DOW
file_path1 = os.path.join(resources_path, 'dow_clean.csv')
DOW_cleaned.to_csv(file_path1, index=False, header=True)

#INDU
file_path2 = os.path.join(resources_path, 'indu_clean.csv')
INDU_cleaned.to_csv(file_path2, index=False, header=True)

#SPY
file_path3 = os.path.join(resources_path, 'spy_clean.csv')
SPY_cleaned.to_csv(file_path3, index=False, header=True)